# Собранные бинарники
*.o
*.ko
*.so
komaru_init
komaru_devtool
komaru_pc
*.img
*.elf
*.bin

# Временные файлы
*~
*.swp
*.bak
*.log
*.tmp

# Buildroot
buildroot-config/.config*
buildroot-config/.config
buildroot-config/*.old
buildroot/

# IDE
.vscode/
.idea/
*.code-workspace

# Системное
.DS_Store
Thumbs.db
core.*
*.core

# Файлы конфигов с локальными данными
*.conf.local

# Сборка
build/
out/
